################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EreftSytem/obj
/EreftSytem/bin
/EreftSytem/.vs/*
/EreftSytem/.mfractor/*
/EreftSytem/EreftSytem.csproj.user
/EreftSytem/.DS_Store

/Core/obj
/Core/bin
/Core/.vs/*

/Infrastructure/obj
/Infrastructure/bin
/Infrastructure/.vs/*
/Infrastructure/.DS_Store

.vs/*
.DS_Store
.mfractor/*